doctype xml
document
  catalogTemplate
    banner
      title #{title}
    list
      section
        each item in items
          listItemLockup
            title #{item.title}
            decorationLabel #{item.images.length}
            relatedContent
              grid
                section
                  each image in item.images
                    lockup
                      img(src="#{image.src}" width="250" height="376")
                      title #{image.title}
