doctype xml
document
  listTemplate
    banner
      title #{title}
    list
      section
        each item in items
          listItemLockup(id="#{item.id}")
            title #{item.title}
            relatedContent
              lockup(id="#{item.id}")
                img(src="#{item.preview.url}")
                title #{item.preview.title}
                description #{item.preview.description}
